In [34]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [35]:
data = pd.read_csv("Churn_Modelling.csv")

In [36]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

Estimated Salary  is our target feature

In [37]:
data = data.drop(["RowNumber","CustomerId","Surname"],axis = 1)

In [38]:
# Encoder categorical variables
lb = LabelEncoder()
data["Gender"] = lb.fit_transform(data["Gender"])

In [39]:
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [40]:
## Applying one hot encoding to the Geography

ohe = OneHotEncoder()
df = ohe.fit_transform(data[["Geography"]]).toarray()

df = pd.DataFrame(df,columns=ohe.get_feature_names_out(["Geography"]))

df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [41]:
## concatenation of this data to the original data

data = pd.concat([data,df],axis = 1)

In [42]:
data

      CreditScore Geography  ...  Geography_Germany  Geography_Spain
0             619    France  ...                0.0              0.0
1             608     Spain  ...                0.0              1.0
2             502    France  ...                0.0              0.0
3             699    France  ...                0.0              0.0
4             850     Spain  ...                0.0              1.0
...           ...       ...  ...                ...              ...
9995          771    France  ...                0.0              0.0
9996          516    France  ...                0.0              0.0
9997          709    France  ...                0.0              0.0
9998          772   Germany  ...                1.0              0.0
9999          792    France  ...                0.0              0.0

[10000 rows x 14 columns]

In [43]:
## Now we can remove the Geography feature in the dataset
data = data.drop("Geography",axis = 1)

In [44]:
data

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [45]:
f = data.drop("EstimatedSalary",axis = 1)
f.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'Exited', 'Geography_France',
       'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [46]:
## Now do divided the dependent and indpendent features 

X = data.drop("EstimatedSalary",axis = 1)
y = data["EstimatedSalary"]

In [47]:
X

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 12 columns]

In [48]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [49]:
## Lets do the train test split 
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [50]:
## Applying standardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [51]:
## Lets store encoders and scaler in pickle file

with open("label_encoder_reg_gender.pkl",'wb') as f:
    pickle.dump(lb,f)

with open("one_hot_encoder_reg_geo.pkl",'wb') as f:
    pickle.dump(ohe,f)

with open("StandardScaler_reg.pkl",'wb') as f:
    pickle.dump(scaler,f)

# ANN Regressoin Problem Statment

In [52]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [53]:
model = Sequential([
    Dense(64,activation='relu',input_shape = (X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1) # Output layer for regression 

]

)

# here in output layer we are not using any activation functions cause it is linear regression problem, by default we have 
# linear activation function that means whatever the output is gotten during the step 1 of neuron that is being passed as output without any changes

c:\Users\deran\Desktop\DL_Project_1\venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [54]:
model.compile(optimizer='adam',loss = 'mean_absolute_error',metrics = ['mae'])

In [55]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [56]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d - %H%M%S")
tensorboard_callback = TensorBoard(log_dir = log_dir,histogram_freq = 1)

In [57]:
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights = True)

In [58]:
history = model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs = 100,
    callbacks = [early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 7s 10ms/step - loss: 100359.9453 - mae: 100359.9453 - val_loss: 98476.7656 - val_mae: 98476.7656
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 101207.0078 - mae: 101207.0078 - val_loss: 96669.9453 - val_mae: 96669.9453
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 98961.6953 - mae: 98961.6953 - val_loss: 92073.5625 - val_mae: 92073.5625
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 92688.4219 - mae: 92688.4219 - val_loss: 84589.7812 - val_mae: 84589.7812
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 84257.8203 - mae: 84257.8203 - val_loss: 75275.7500 - val_mae: 75275.7500
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 74707.0078 - mae: 74707.0078 - val_loss: 66034.8672 - val_mae: 66034.8672
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 65495.8516 - mae: 65495.8516 - val_loss: 58635.8984 - val_mae: 58635.8984
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 57803.6211 - mae: 57803.6211 - val_loss: 54057.7695 - val_mae: 54057.7695
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 53949.4062 - mae: 53949.4062 - val_loss: 51868.4570 - val_mae: 51868.4570
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 51482.6250 - mae: 51482.6250 - val_loss: 51089.6133 - val_mae: 51089.6133
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50399.2305 - mae: 50399.2305 - val_loss: 50855.0352 - val_mae: 50855.0352
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50144.3633 - mae: 50144.3633 - val_loss: 50764.4102 - val_mae: 50764.4102
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 50535.8984 - mae: 50535.8984 - val_loss: 50701.9102 - val_mae: 50701.9102
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50514.9219 - mae: 50514.9219 - val_loss: 50655.8398 - val_mae: 50655.8398
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 50132.3516 - mae: 50132.3516 - val_loss: 50600.5273 - val_mae: 50600.5273
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50218.3086 - mae: 50218.3086 - val_loss: 50566.2539 - val_mae: 50566.2539
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49225.6484 - mae: 49225.6484 - val_loss: 50534.2891 - val_mae: 50534.2891
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49377.9883 - mae: 49377.9883 - val_loss: 50500.2070 - val_mae: 50500.2070
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49714.6406 - mae: 49714.6406 - val_loss: 50476.8789 - val_mae: 50476.8789
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49804.0039 - mae: 49804.0039 - val_loss: 50449.6172 - val_mae: 50449.6172
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50216.1797 - mae: 50216.1797 - val_loss: 50424.5156 - val_mae: 50424.5156
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49593.1016 - mae: 49593.1016 - val_loss: 50414.8516 - val_mae: 50414.8516
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50033.1094 - mae: 50033.1094 - val_loss: 50393.8789 - val_mae: 50393.8789
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 50232.4531 - mae: 50232.4531 - val_loss: 50381.2695 - val_mae: 50381.2695
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49750.2422 - mae: 49750.2422 - val_loss: 50376.0000 - val_mae: 50376.0000
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50203.2539 - mae: 50203.2539 - val_loss: 50362.3320 - val_mae: 50362.3320
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49547.9453 - mae: 49547.9453 - val_loss: 50347.0391 - val_mae: 50347.0391
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50037.2266 - mae: 50037.2266 - val_loss: 50343.3672 - val_mae: 50343.3672
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49512.5078 - mae: 49512.5078 - val_loss: 50329.1484 - val_mae: 50329.1484
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49441.8242 - mae: 49441.8242 - val_loss: 50328.5859 - val_mae: 50328.5859
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49767.4102 - mae: 49767.4102 - val_loss: 50319.1484 - val_mae: 50319.1484
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49639.8828 - mae: 49639.8828 - val_loss: 50302.4883 - val_mae: 50302.4883
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49608.1641 - mae: 49608.1641 - val_loss: 50296.0508 - val_mae: 50296.0508
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49799.3281 - mae: 49799.3281 - val_loss: 50296.4062 - val_mae: 50296.4062
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49481.7617 - mae: 49481.7617 - val_loss: 50292.4531 - val_mae: 50292.4531
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50152.9570 - mae: 50152.9570 - val_loss: 50286.7305 - val_mae: 50286.7305
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49578.7500 - mae: 49578.7500 - val_loss: 50290.7812 - val_mae: 50290.7812
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 49568.4375 - mae: 49568.4375 - val_loss: 50286.2891 - val_mae: 50286.2891
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49702.0664 - mae: 49702.0664 - val_loss: 50283.5508 - val_mae: 50283.5508
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49749.3164 - mae: 49749.3164 - val_loss: 50261.2383 - val_mae: 50261.2383
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49119.9844 - mae: 49119.9844 - val_loss: 50269.8359 - val_mae: 50269.8359
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48908.3242 - mae: 48908.3242 - val_loss: 50264.5273 - val_mae: 50264.5273
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49159.8203 - mae: 49159.8203 - val_loss: 50262.3672 - val_mae: 50262.3672
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49487.7109 - mae: 49487.7109 - val_loss: 50258.0273 - val_mae: 50258.0273
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49635.8242 - mae: 49635.8242 - val_loss: 50253.7812 - val_mae: 50253.7812
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49783.3555 - mae: 49783.3555 - val_loss: 50260.1602 - val_mae: 50260.1602
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49130.1562 - mae: 49130.1562 - val_loss: 50261.5117 - val_mae: 50261.5117
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49903.3242 - mae: 49903.3242 - val_loss: 50257.2266 - val_mae: 50257.2266
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49533.1172 - mae: 49533.1172 - val_loss: 50261.0547 - val_mae: 50261.0547
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49208.1992 - mae: 49208.1992 - val_loss: 50258.3828 - val_mae: 50258.3828
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49299.5391 - mae: 49299.5391 - val_loss: 50258.0078 - val_mae: 50258.0078
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49987.5508 - mae: 49987.5508 - val_loss: 50252.8789 - val_mae: 50252.8789
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49397.4805 - mae: 49397.4805 - val_loss: 50258.3008 - val_mae: 50258.3008
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50263.9180 - mae: 50263.9180 - val_loss: 50261.2852 - val_mae: 50261.2852
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48959.5117 - mae: 48959.5117 - val_loss: 50265.8086 - val_mae: 50265.8086
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49614.7773 - mae: 49614.7773 - val_loss: 50257.2539 - val_mae: 50257.2539
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49101.3359 - mae: 49101.3359 - val_loss: 50258.6992 - val_mae: 50258.6992
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49252.4062 - mae: 49252.4062 - val_loss: 50260.4023 - val_mae: 50260.4023
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48788.8867 - mae: 48788.8867 - val_loss: 50261.4297 - val_mae: 50261.4297
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49335.2734 - mae: 49335.2734 - val_loss: 50264.1484 - val_mae: 50264.1484
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49235.7656 - mae: 49235.7656 - val_loss: 50270.2227 - val_mae: 50270.2227
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49332.6562 - mae: 49332.6562 - val_loss: 50270.5938 - val_mae: 50270.5938

In [59]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [60]:
%tensorboard --logdir=regressionlogs/fit

Reusing TensorBoard on port 6008 (pid 8836), started 21:12:01 ago. (Use '!kill 8836' to kill it.)

In [61]:
test_loss,test_mae = model.evaluate(X_test,y_test)
print(f"Test MAE  : {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 51129.7344 - mae: 51129.7344
Test MAE  : 50252.87890625

In [62]:
model.save("regression_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.